.sidebar {
  display: none;
}

.sidebar.open {
  display: block;
  width: 317px;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.background {
  background: #000;
  opacity: 0.3;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 63px 0 0 70px;
  height: 100%;
  gap: 45px;
}

.nav a {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.nav a:hover {
  color: #58acff;
}

.nav a.active {
  color: #0059b2;
}
.close {
  position: absolute;
  top: 16px;
  right: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close img {
  width: 24px;
  height: 24px;
}
