.input:focus {
  outline: none;
}

.input {
  width: 372px;
  height: 36px;
}

.inputWrapper {
  margin: 0 134px 0 70px;
  position: relative;
}

.superInput {
}

.errorInput {
  border: 1px solid #cc1439;
}

.errorInput:focus {
}

.error {
  color: #cc1439;
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 10px;
}
