.App {
  --header_height: 60px;
}

.hw {
  height: 100%;
  margin-bottom: 150px;
}

.hwTitle {
  padding: 20px 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-left: 55px;
}
