.sendForm {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.textarea {
  width: 85%;
  height: 40px !important;
}

.button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: #0066cc;
  border: none;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: #044484;
}
.button:active {
  transform: translateY(3px);
}
