.button {
  padding: 5px 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}

.disabled {
  opacity: 0.5;
}

.secondary {
  background: #fff;
  color: #0066cc;
  border: 1px solid #0066cc;
  border-radius: 3px;
}

.default {
  background: #0066cc;
  color: #fff;
  border: none;
}

.red {
  background: #cc1439;
  color: #fff;
  border: none;
}

.default:hover {
  background: #0080ff;
}

.red:hover {
  background: #ff1a47;
}

.secondary:hover {
  background: #e5f0fa;
}

.default:active {
  background: #0059b2;
}

.secondary:active {
  background: #c9e5ff;
}

.red:active {
  background: #b21232;
}

.button:disabled {
  background: #004d99;
  color: #002e5c;
}
